.alert{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    min-width: 10%;
    border: 1px solid $color-primary;
    background: white;
    height: 50px;
    display: flex;
    align-items: center;

    z-index: 999999999;

    &__img{
        height: 40px;
    }
}