.announcements{
    width: 95%;

    &__start{
        background-color: #201B52;
        color: #e7e7e7;
        padding: 10px 10px;
    }

    &__end{
        width: 100%;
        background-color: #e7e7e7;
        padding: 10px 10px;

        &--image{
            height: 14px;
            cursor: pointer;
        }
    }
}