.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn-select{
    color: $color-primary;
    text-decoration: none;
}

.select-active {
    border-bottom: 2px solid $color-primary;
}

.btn-select:hover{
    color: $color-primary;
    font-size: 20px;
    text-decoration: none;
    outline: 2px solid $color-primary;
    outline-offset: 4px;
}

.btn-icon__small{
    padding: 5px 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.btn-transparent{
    background: transparent;
}

.btn-red {
    color: #ffffff;
    background-color: #EF200E;
}

.btn-red:hover{
    background-color: #E53935;
}

.btn-secondary{
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background-color: $color-secondary;
    color: #fff;
}

.btn-secondary:hover{
    border: 1px solid $color-secondary;
    background: transparent;
    color: $color-secondary;
}

.btn-secondary-alt{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: $color-secondary;
    color: #fff;
}

.btn-secondary-alt:hover{
    border: 1px solid $color-secondary;
    background: transparent;
    color: $color-secondary;
}