.nav-medium{
    height: 80px;
}

.nav-text__primary{
    color: #fff;
}

.header__nav{
    background: linear-gradient(to bottom, rgba(16, 21, 68, 0.541), rgba(17, 3, 77, 0.37)), url('/assets/Entrance (1) (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 20vh;
}